/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.burger {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(0);
  transition: all 0.5s;
}

.burger::after, .burger::before {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 0.1rem;
  background: #e5e7eb;
  transition: all 0.5s;
}

.burger::after {
  bottom: 0;
}

.burger::before {
  top: 0;
  margin-top: 0.42rem;
}


.open .burger::after {
  transform: rotate(45deg) translateY(6px);
}

.open .burger::before {
  transform: rotate(-45deg) translateY(-6px);
}

.bg-placeholder::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #05050594;
}